@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-bold.ttf);
}

body {
  color: $secondary-color-text;
  background-color: $primary-white-color;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablets) {
    width: $tablets;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.standart-a {
  text-decoration: none;
}
.standart-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  color: $primary-color-text;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 12px 37px;
  border-radius: 25px;
  border: 1px solid $accent-color;
  cursor: pointer;

  @media screen and (min-width: $tablets) {
    padding: 12px 20px;
    color: $primary-white-color;
  }
  transition: $transition;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
  }
}

.hr {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: $primary-color-text;
    margin-right: 20px;
  }
}
.hr-two {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: $additional-color-text;
    margin-right: 20px;
  }
}
.hr-header {
  @media screen and (min-width: $tablets) {
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $primary-color-text;
      margin-right: 40px;
    }
  }
}
.hr-footer {
  align-items: center;
  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: $primary-color-text;
    margin-right: 40px;
  }
}
