<section class="about-us container" id="about-us">
  <div class="photo-style">
    <picture>
      <source
        srcset="
          ./images/about-us/beard330T.webp    1x,
          ./images/about-us/beard660T@2x.webp 2x,
          ./images/about-us/beard990T@3x.webp 3x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about-us/beard330T.jpg    1x,
          ./images/about-us/beard660T@2x.jpg 2x,
          ./images/about-us/beard990T@3x.jpg 3x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        srcset="
          ./images/about-us/beard270N.webp    1x,
          ./images/about-us/beard540N@2x.webp 2x,
          ./images/about-us/beard810N@3x.webp 3x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about-us/beard270N.jpg    1x,
          ./images/about-us/beard540N@2x.jpg 2x,
          ./images/about-us/beard810N@3x.jpg 3x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="first-img"
        src="./images/about-us/beard270N.jpg"
        alt="Бритье"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/about-us/hair330T.webp    1x,
          ./images/about-us/hair660T@2x.webp 2x,
          ./images/about-us/hair990T@3x.webp 3x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about-us/hair330T.jpg    1x,
          ./images/about-us/hair660T@2x.jpg 2x,
          ./images/about-us/hair990T@3x.jpg 3x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />

      <source
        srcset="
          ./images/about-us/hair270N.webp    1x,
          ./images/about-us/hair540N@2x.webp 2x,
          ./images/about-us/hair810N@3x.webp 3x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about-us/hair270N.jpg    1x,
          ./images/about-us/hair540N@2x.jpg 2x,
          ./images/about-us/hair810N@3x.jpg 3x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="second-img"
        src="./images/about-us/hair270N.jpg"
        alt="Стрижка"
      />
    </picture>
  </div>
  <div class="about-text">
    <h3 class="hr">О НАС</h3>
    <h2>
      Лучший Барбершоп <br />
      твоего города
    </h2>
    <b
      >Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.</b
    >
    <p>
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <a class="standart-a" href="#subscribe">онлайн-запись</a>
  </div>
</section>
