<!-- Features section -->

<section class="feature container">
  <div class="feature-text">
    <p class="hr">старая традиционная школа</p>
    <h2 class="feature-title">Почему приходят именно к нам?</h2>

    <p class="par-features">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
  </div>

  <ul class="feature-list standart-ul">
    <li class="feature-item">
      <p class="feature-number">600<sup class="symbol">+</sup></p>
      <p class="feature-desc">Довольных клиентов в день</p>
    </li>
    <li class="feature-item">
      <p class="feature-number">50<sup class="symbol">+</sup></p>
      <p class="feature-desc">Наград за отличный сервис</p>
    </li>
    <li class="feature-item">
      <p class="feature-number">20<sup class="symbol">+</sup></p>
      <p class="feature-desc">Лучших мастеров Киева</p>
    </li>
    <li class="feature-item">
      <p class="feature-number">100<sup class="symbol">+</sup></p>
      <p class="feature-desc">Подарков постоянным клиентам</p>
    </li>
  </ul>
</section>
