<section class="ourmasters" id="ourmasters">
  <div class="container">
    <h3 class="line-befor hr">для настоящих ценителей атмосферы</h3>
    <h2 class="name-masters">Наши мастера</h2>
    <ul class="standart-ul masters-list">
      <li class="masters-item">
        <picture>
          <source
            srcset="
              ./images/ourmasters/img1@mob.webp   1x,
              ./images/ourmasters/img1@2xmob.webp 2x,
              ./images/ourmasters/img1@3xmob.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img1@mob.jpg   1x,
              ./images/ourmasters/img1@2xmob.jpg 2x,
              ./images/ourmasters/img1@3xmob.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/ourmasters/img1@tab.webp   1x,
              ./images/ourmasters/img1@2xtab.webp 2x,
              ./images/ourmasters/img1@3xtab.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img1@tab.jpg   1x,
              ./images/ourmasters/img1@2xtab.jpg 2x,
              ./images/ourmasters/img1@3xtab.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />

          <source
            srcset="
              ./images/ourmasters/img1@dt.webp   1x,
              ./images/ourmasters/img1@2xdt.webp 2x,
              ./images/ourmasters/img1@3xdt.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img1@dt.jpg   1x,
              ./images/ourmasters/img1@2xdt.jpg 2x,
              ./images/ourmasters/img1@3xdt.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="img-ourmasters"
            src="./images/ourmasters/img1@dt.jpg"
            alt="Джон Смит"
          />
        </picture>

        <h3 class="name">John Smith</h3>
        <p class="prof">Extreme Barber</p>
        <ul class="standart-ul socset-list">
          <li class="size-li">
            <a href="" aria-label="Ссылка на instagram" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на twitter" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на facebook" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на linkedin" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters-item">
        <picture>
          <source
            srcset="
              ./images/ourmasters/img2@mob.webp   1x,
              ./images/ourmasters/img2@2xmob.webp 2x,
              ./images/ourmasters/img2@3xmob.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img2@mob.jpg   1x,
              ./images/ourmasters/img2@2xmob.jpg 2x,
              ./images/ourmasters/img2@3xmob.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/ourmasters/img2@tab.webp   1x,
              ./images/ourmasters/img2@2xtab.webp 2x,
              ./images/ourmasters/img2@3xtab.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img2@tab.jpg   1x,
              ./images/ourmasters/img2@2xtab.jpg 2x,
              ./images/ourmasters/img2@3xtab.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />

          <source
            srcset="
              ./images/ourmasters/img2@dt.webp   1x,
              ./images/ourmasters/img2@2xdt.webp 2x,
              ./images/ourmasters/img2@3xdt.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img2@dt.jpg   1x,
              ./images/ourmasters/img2@2xdt.jpg 2x,
              ./images/ourmasters/img2@3xdt.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="img-ourmasters"
            src="./images/ourmasters/img2@dt.jpg"
            alt="Майкл Доэ"
          />
        </picture>
        <h3 class="name">Michele Doe</h3>
        <p class="prof">Extreme Barber</p>
        <ul class="standart-ul socset-list">
          <li class="size-li">
            <a href="" aria-label="Ссылка на instagram" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на twitter" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на facebook" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на linkedin" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters-item">
        <picture>
          <source
            srcset="
              ./images/ourmasters/img3@mob.webp   1x,
              ./images/ourmasters/img3@2xmob.webp 2x,
              ./images/ourmasters/img3@3xmob.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img3@mob.jpg   1x,
              ./images/ourmasters/img3@2xmob.jpg 2x,
              ./images/ourmasters/img3@3xmob.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/ourmasters/img3@tab.webp   1x,
              ./images/ourmasters/img3@2xtab.webp 2x,
              ./images/ourmasters/img3@3xtab.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img3@tab.jpg   1x,
              ./images/ourmasters/img3@2xtab.jpg 2x,
              ./images/ourmasters/img3@3xtab.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />

          <source
            srcset="
              ./images/ourmasters/img3@dt.webp   1x,
              ./images/ourmasters/img3@2xdt.webp 2x,
              ./images/ourmasters/img3@3xdt.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/ourmasters/img3@dt.jpg   1x,
              ./images/ourmasters/img3@2xdt.jpg 2x,
              ./images/ourmasters/img3@3xdt.jpg 3x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="img-ourmasters"
            src="./images/ourmasters/img3@dt.jpg"
            alt="Алан Блэк"
          />
        </picture>
        <h3 class="name">Alan Black</h3>
        <p class="prof">Extreme Barber</p>
        <ul class="standart-ul socset-list end-ul">
          <li class="size-li">
            <a href="" aria-label="Ссылка на instagram" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на twitter" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на facebook" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="size-li">
            <a href="" aria-label="Ссылка на linkedin" class="bcg">
              <svg class="icon">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
