<section class="container content-section">
  <div class="photo">
    <p class="paragraph hr">на латинском языке “барба” означает “борода”</p>
  </div>
  <ul class="photo-content standart-ul">
    <li class="photo-content-item">
      <picture>
        <source
          srcset="
            ./images/photo-content-img/hair-cut-mob-418.webp    1x,
            ./images/photo-content-img/hair-cut-mob-418@2x.webp 2x,
            ./images/photo-content-img/hair-cut-mob-418@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/hair-cut-mob-418.jpg    1x,
            ./images/photo-content-img/hair-cut-mob-418@2x.jpg 2x,
            ./images/photo-content-img/hair-cut-mob-418@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/photo-content-img/hair-cut-330-tab.webp    1x,
            ./images/photo-content-img/hair-cut-330-tab@2x.webp 2x,
            ./images/photo-content-img/hair-cut-330-tab@3x.webp 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/photo-content-img/hair-cut-330-tab.jpg    1x,
            ./images/photo-content-img/hair-cut-330-tab@2x.jpg 2x,
            ./images/photo-content-img/hair-cut-330-tab@3x.jpg 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/photo-content-img/hair-cut-270-dt.webp    1x,
            ./images/photo-content-img/hair-cut-270-dt@2x.webp 2x,
            ./images/photo-content-img/hair-cut-270-dt@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/hair-cut-270-dt.jpg    1x,
            ./images/photo-content-img/hair-cut-270-dt@2x.jpg 2x,
            ./images/photo-content-img/hair-cut-270-dt@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />

        <img
          class="img"
          src="./images/photo-content-img/hair-cut-mob-418.jpg"
          alt="hair-cut"
        />
      </picture>
    </li>
    <li class="photo-content-item">
      <picture>
        <source
          srcset="
            ./images/photo-content-img/beard-shaving-mob-418.webp    1x,
            ./images/photo-content-img/beard-shaving-mob-418@2x.webp 2x,
            ./images/photo-content-img/beard-shaving-mob-418@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/beard-shaving-mob-418.jpg    1x,
            ./images/photo-content-img/beard-shaving-mob-418@2x.jpg 2x,
            ./images/photo-content-img/beard-shaving-mob-418@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/photo-content-img/beard-shaving-tab-330.webp    1x,
            ./images/photo-content-img/beard-shaving-tab-330@2x.webp 2x,
            ./images/photo-content-img/beard-shaving-tab-330@3x.webp 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/beard-shaving-tab-330.jpg    1x,
            ./images/photo-content-img/beard-shaving-tab-330@2x.jpg 2x,
            ./images/photo-content-img/beard-shaving-tab-330@3x.jpg 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/photo-content-img/beard-shaving-dt-270.webp    1x,
            ./images/photo-content-img/beard-shaving-dt-270@2x.webp 2x,
            ./images/photo-content-img/beard-shaving-dt-270@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/photo-content-img/beard-shaving-dt-270.jpg    1x,
            ./images/photo-content-img/beard-shaving-dt-270@2x.jpg 2x,
            ./images/photo-content-img/beard-shaving-dt-270@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />

        <img
          class="img"
          src="./images/photo-content-img/hair-cut-mob-418.jpg"
          alt="hair-cut"
        />
      </picture>
    </li>
    <li class="photo-content-item">
      <picture>
        <source
          srcset="
            ./images/photo-content-img/hot-towel-mob-418.webp    1x,
            ./images/photo-content-img/hot-towel-mob-418@2x.webp 2x,
            ./images/photo-content-img/hot-towel-mob-418@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/hot-towel-mob-418.jpg    1x,
            ./images/photo-content-img/hot-towel-mob-418@2x.jpg 2x,
            ./images/photo-content-img/hot-towel-mob-418@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/photo-content-img/hot-towel-tab-330.webp    1x,
            ./images/photo-content-img/hot-towel-tab-330@2x.webp 2x,
            ./images/photo-content-img/hot-towel-tab-330@3x.webp 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/hot-towel-tab-330.jpg    1x,
            ./images/photo-content-img/hot-towel-tab-330@2x.jpg 2x,
            ./images/photo-content-img/hot-towel-tab-330@3x.jpg 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/photo-content-img/hot-towel-dt-270.webp    1x,
            ./images/photo-content-img/hot-towel-dt-270@2x.webp 2x,
            ./images/photo-content-img/hot-towel-dt-270@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/hot-towel-dt-270.jpg    1x,
            ./images/photo-content-img/hot-towel-dt-270@2x.jpg 2x,
            ./images/photo-content-img/hot-towel-dt-270@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />

        <img
          class="img"
          src="./images/photo-content-img/hot-towel-mob-418.jpg"
          alt="hair-cut"
        />
      </picture>
    </li>
    <li class="photo-content-item">
      <picture>
        <source
          srcset="
            ./images/photo-content-img/head-shaving-mob-418.webp    1x,
            ./images/photo-content-img/head-shaving-mob-418@2x.webp 2x,
            ./images/photo-content-img/head-shaving-mob-418@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/head-shaving-mob-418.jpg    1x,
            ./images/photo-content-img/head-shaving-mob-418@2x.jpg 2x,
            ./images/photo-content-img/head-shaving-mob-418@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/photo-content-img/head-shaving-tab-330.webp    1x,
            ./images/photo-content-img/head-shaving-tab-330@2x.webp 2x,
            ./images/photo-content-img/head-shaving-tab-330@3x.webp 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/head-shaving-tab-330.jpg    1x,
            ./images/photo-content-img/head-shaving-tab-330@2x.jpg 2x,
            ./images/photo-content-img/head-shaving-tab-330@3x.jpg 3x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/photo-content-img/head-shaving-dt-270.webp    1x,
            ./images/photo-content-img/head-shaving-dt-270@2x.webp 2x,
            ./images/photo-content-img/head-shaving-dt-270@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/photo-content-img/head-shaving-dt-270.jpg    1x,
            ./images/photo-content-img/head-shaving-dt-270@2x.jpg 2x,
            ./images/photo-content-img/head-shaving-dt-270@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />

        <img
          class="img"
          src="./images/photo-content-img/head-shaving-mob-418.jpg"
          alt="hair-cut"
        />
      </picture>
    </li>
  </ul>
</section>
