<section class="default-section-service" id="service-price">
  <div class="container section-service-price">
    <p class="description hr-two">
      Проведи время в компании лучших мастеров
    </p>
    <h2 class="definition">Услуги и цены</h2>
    <div class="table-service">
      <ul class="scroll first standart-ul">
        <li class="scroll-item">
          <p class="service">Мужская стрижка</p>
          <span class="scroll-border"></span>
          <p class="price">от 300 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Стрижка бороды</p>
          <span class="scroll-border"></span>
          <p class="price">от 200 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Стрижка усов</p>
          <span class="scroll-border"></span>
          <p class="price">от 200 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Бритье опасной бритвой</p>
          <span class="scroll-border"></span>
          <p class="price">от 200 грн.</p>
        </li>
      </ul>
      <ul class="scroll second standart-ul">
        <li class="scroll-item">
          <p class="service">Cтрижка у стажера</p>
          <span class="scroll-border"></span>
          <p class="price">от 50 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Стрижка под насадку</p>
          <span class="scroll-border"></span>
          <p class="price">от 200 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Детская стрижка (до 12 лет)</p>
          <span class="scroll-border"></span>
          <p class="price">от 300 грн.</p>
        </li>
        <li class="scroll-item">
          <p class="service">Камуфлирование седины</p>
          <span class="scroll-border"></span>
          <p class="price">от 200 грн.</p>
        </li>
      </ul>
    </div>
    <div class="subscribe-link">
      <a href="#subscribe" class="online-record standart-a">онлайн-запись</a>
    </div>
  </div>
</section>
