.default-section-service {
  background-color: $service-color;
  background-image: url(../images/services-and-price/mobile/small-size/background-image-services-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url(../images/services-and-price/mobile/small-size/background-image-services-mobile@2x.png);
  }
  @media (min-resolution: 3dppx) {
    background-image: url(../images/services-and-price/mobile/small-size/background-image-services-mobile@3x.png);
  }

  @media screen and (min-width: $mobile) {
    background-image: url(../images/services-and-price/tablet/small-size/background-image-services-tablet.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/services-and-price/tablet/small-size/background-image-services-tablet@2x.png);
    }
    @media (min-resolution: 3dppx) {
      background-image: url(../images/services-and-price/tablet/small-size/background-image-services-tablet@3x.png);
    }
  }

  @media screen and (min-width: $tablets) {
    background-image: url(../images/services-and-price/pc/small-size/background-image-services-pc.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/services-and-price/pc/small-size/background-image-services-pc@2x.png);
    }
    @media (min-resolution: 3dppx) {
      background-image: url(../images/services-and-price/pc/small-size/background-image-services-pc@3x.png);
    }
  }
}

.section-service-price {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablets) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.description {
  margin: 0;
  position: relative;
  // padding-left: 80px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $color-rgba;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 50%;
  //   width: 60px;
  //   height: 1px;
  //   background: $color-rgba;
  // }
}

.definition {
  margin: 0;
  margin-bottom: 44px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: $primary-white-color;
}

.table-service {
  margin-bottom: 50px;

  @media screen and (max-width: $tablets-min) {
    padding: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: $desktop-min) {
    padding: 30px 40px;
  }

  @media screen and (max-width: $desktop-min) {
    background-image: linear-gradient(
      180deg,
      $primal-gradient-color 0%,
      $seconfary-gradient-color 100%
    );
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.scroll {
  @media screen and (min-width: $desktop) {
    width: 585px;
    padding: 30px 40px;

    &.first {
      background-image: linear-gradient(
        180deg,
        $primal-gradient-color 0%,
        $seconfary-gradient-color 100%
      );
    }

    &.second {
      background-image: linear-gradient(
        180deg,
        $third-gradient-color 0%,
        $four-gradient-color 100%
      );
    }
  }

  &.second > .scroll-item:last-child {
    margin-bottom: 0px;
  }

  &-item {
    display: flex;
    margin-bottom: 20px;

    @media screen and (max-width: 373px) {
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &-border {
    display: flex;
    margin-bottom: 8px;
    margin-right: 6px;
    border-bottom: 1px solid $border-service-section-color;
    width: 100%;

    @media screen and (max-width: 373px) {
      align-items: center;
      margin-bottom: 0px;
    }

    @media screen and (min-width: $tablets) {
      margin-bottom: 6px;
    }
  }
}

.service {
  margin: 0;
  padding: 0;

  display: block;
  margin-right: 6px;
  white-space: nowrap;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.1;
  letter-spacing: 0.02em;

  color: $additional-color-text;
  @media screen and (max-width: 372px) {
    white-space: unset;
    display: flex;
    text-align: center;
  }
  @media screen and (min-width: $tablets) {
    font-size: 18px;
    line-height: 1.7;
  }
}

.price {
  margin: 0;
  white-space: nowrap;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 0.02em;

  color: $additional-color-text;

  @media screen and (max-width: 373px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $tablets) {
    font-size: 18px;
    line-height: 1.7;
  }
}

.subscribe-link {
  text-align: center;
}

.online-record {
  display: inline-block;

  border: 1px solid $accent-color;
  border-radius: 25px;
  padding: 12px 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $primary-white-color;

  transition: $transition;

  &:hover,
  :focus {
    background-color: $accent-color;
  }
}
